.carsImageHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 3em auto;
  overflow: hidden;
  h2 {
    font-family: $textFont;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 2em;
    justify-content: space-between;
    padding: 0 15px;
    span {
      font-size: 1em;
      margin: 0.1em 0 0 0.3em;
    }
  }
  .innerCarsImageHolder {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    .carImage {
      position: relative;
      display: block;
      width: 100px;
      height: auto;
      overflow: hidden;
      margin: 1em;
      border-radius: 10px;
      img {
        width: 100%;
        cursor: grab;
      }
    }
  }
}
